RaceGamePhone/Service References/MiuWebService/MiuWebService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RaceGame" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RaceGame" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="InputState">
    <xs:sequence>
      <xs:element minOccurs="0" name="acceleration" type="xs:float" />
      <xs:element minOccurs="0" name="breakVal" type="xs:float" />
      <xs:element minOccurs="0" name="steer" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InputState" nillable="true" type="tns:InputState" />
</xs:schema>